{% extends 'base.html.twig' %}
{% block title %}
Registration Form
{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
    <h2 class="text-center mt-4 mb-4">Story of the Season registration</h2>
    {% include 'registration/form.html.twig' %}
</div>
{% endblock %}