{% extends 'base.html.twig' %}
{% block title %}
Product Form
{% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center mt-4 mb-4">Create product</h2>
    <form action="{{ path('product-create') }}" method="POST" enctype="multipart/form-data" style="max-width: 50vw"
        class="d-block mx-auto">
        {% include 'product_manager/form.html.twig' %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}