{% extends 'base.html.twig' %}
{% block title %}
Password reset
{% endblock %}
{% block styles %}
html,
body {
height: 100%;
}

body {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f5f5f5;
}

.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}
{% endblock %}
{% block body %}
<div class="form-signin text-center">
    <img class="mb-4" src="/images/logo.jpg" alt="" height="72">
    <p>A password reset link has been sent. Please check your inbox (and if it's not in there, your spam folder) for an email from chris@storyoftheseason.com.</p>
</div>

{% endblock %}