{% extends 'base.html.twig' %}
{% block title %}
Coupon Form
{% endblock %}
{% block body %}
<div class="container">
    <h2 class="text-center mt-4 mb-4">Create coupon</h2>
    <form action="{{ path('coupon-create') }}" method="POST" style="max-width: 50vw" class="d-block mx-auto">
        <div class="form-group">
            <label for="code">Coupon code</label>
            <input id="code" name="code" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="discount">Percent discount (0-100)</label>
            <input id="discount" name="code" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="product">Select product</label>
            <select class="form-control" id="product" name="product">
                {% for product in products %}
                <option value="{{product.id}}">{{product.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}