<footer class="text-white p-2 w-100 bg-dark">
  <div class="container">
    <p class="mb-0 mt-2">Questions? Contact <a
        href="mailto:content@storyoftheseason.com">content@storyoftheseason.com</a></p>
    <p>&copy; {{"now"|date("Y")}} StoryIt LLC</p>
  </div>
</footer>