{% set route = path(app.request.attributes.get('_route')) %}
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if route == path('dashboard') %}active{% endif %}" href="{{ path('dashboard') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if route == path('product-admin') %}active{% endif %}" href="{{ path('product-admin') }}">Create product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if route == path('book-admin') %}active{% endif %}" href="{{ path('book-admin') }}">Assign books to products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if route == path('coupon-admin') %}active{% endif %}" href="{{ path('coupon-admin') }}">Create coupons</a>
        </li>
      </ul>
    </div>
  </div>
</div>