{% extends 'base.html.twig' %}
{% block title %}
Story of the season
{% endblock %}
{% block styles %}
{{ parent() }}
.navbar {
margin-bottom: 0px !important;
}
#hero {
background: url(images/bg.jpeg) no-repeat center center fixed;
background-size: cover;
}
.spacer {
clear:both;
height:10vh
}
@media (max-width: 768px) {
    .spacer {
        display:none;
    }
}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}
<div class="mb-4" id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-uppercase text-dark font-weight-bolder mt-4" style="font-size: 6vw;">
                    Story of the Season
                </h1>
                <h3 class="text-center mt-3 mb-3 text-white" style="font-size:3vw;text-shadow: 
                    0.1vw 0.1vw 0px #d5d5d5, 
                    0.2vw 0.2vw 0px rgba(0, 0, 0, 0.2);">
                    <b>Story of the Season</b> is how sports teams <b>tell their story</b>
                    and
                    <b>engage their fans</b></h3>
                <iframe src="//fast.wistia.net/embed/iframe/f768nvo7z0?videoFoam=true" allowtransparency="true"
                    frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen
                    mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h1 class="text-uppercase text-center">Coaches, build your program</h1>
        </div>
    </div>

    <div class="row mt-2 mb-5">
        <div class="col-sm-6">
            <img src="/images/Weekly_Newsletter.png" alt="Weekly newsletter"
                style="width:80%;display:block;margin:0 auto">
        </div>
        <div class="col-sm-6" style="margin-bottom: 15vh">
            <div style="margin: 0 auto;width: 80%;display:block">
                <h2 class="mt-2">Weekly newsletter</h2>
                <h4>Let fans follow your team from anywhere</h4>
                <p class="mb-0">Each week of the season, we aggregate all video highlights, pictures,
                    interviews, articles, behind-the-scenes content and more and publish a comprehensive game recap
                    newsletter that brings the game to life! Weekly recaps are sent to all subscribing parents,
                    alumni and fans.</p>
            </div>
        </div>
    </div>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-sm-6" style="margin-bottom: 15vh">
            <div style="margin: 0 auto;width: 80%;display:block">
                <h2 class="mt-2">Digital yearbook</h2>
                <h4>All your team&apos;s memories in one place</h4>
                <p class="mb-0">At the end of the Season, we publish each a full, digital yearbook so your team
                    and fans can remember every moment of the season and share it on any device!</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/images/digital_yearbook.png" alt="Digital yearbook"
                style="width:80%;display:block;margin:0 auto;">
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-6">
            <img src="/images/recruiting_tool.png" alt="Recruiting tool" style="width:80%;display:block;margin:0 auto">
        </div>
        <div class="col-sm-6" style="margin-bottom: 15vh">
            <div style="margin: 0 auto;width: 80%;display:block">
                <h2 class="mt-2">Recruiting tool</h2>
                <h4>Engage recruits and share your story</h4>
                <p class="mb-0">Each week our newsletters go straight to your recruits - giving them a unique
                    look into your program and a helping you stand out.</p>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-sm-6" style="margin-bottom: 15vh">
            <div style="margin: 0 auto;width: 80%;">
                <h2 class="mt-2">Fundraiser</h2>
                <h4>Raise money for your program</h4>
                <p class="mb-0">Financially support your program by giving your fans and supporters a way to be
                    closer to your program! We work with your program to sell subscriptions and raise money - all
                    while bringing your biggest fans to your program.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/images/fundraiser.png" alt="Fundraiser" style="width:80%;display:block;margin:0 auto;">
        </div>
    </div>
    <div class="row mb-5 mt-5" style="margin:0 auto">
        <div class="col">
            <h2 class="text-uppercase">Fans, follow your team and become part of the story</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="/images/nkbhg.png" style="width:80%;display:block;margin:0 auto">
        </div>
        <div class="col-sm-6" style="margin-bottom: 15vh">
            <div style="margin: 0 auto;width: 80%;display:block">
                <h2 class="mt-2">Follow your team</h2>
                <h4>Recap all the action from anywhere</h4>
                <p class="mb-0">Story of the Season is the best way to follow your team or player week to week. With
                    interactive game recap newsletters published after every game every moment and memory worth sharing
                    is at your fingertips from preseason to postseason.</p>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-sm-6" style="margin-bottom: 15vh">
            <div style="margin: 0 auto;width: 80%;">
                <h2 class="mt-2">Share content</h2>
                <h4>Tell you side of the Story</h4>
                <p class="mb-0">Story of the Season is more than just game highlights, photos and
                    articles. We give fans a way to tell their story point by uploading everything from tailgate
                    photos, to videos from the stands, to intimate interviews with players after the game. We
                    then published them in the newsletter!</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="/images/uploadcontent.png" style="width:80%;display:block;margin:0 auto;">
        </div>
    </div>
</div>
<div class="jumbotron mb-0 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/oc.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/forestersLFbw.gif" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/chi.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/images.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/iwu.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/kzoo.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/MeritBadges-Athletics.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/milton.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/Rhodes.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/tuftsjumbos.gif" alt="" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-4 mb-4">
                <img src="/images/logos/washu.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% include 'footer.html.twig' %}
{% endblock %}