{% extends 'base.html.twig' %}
{% block title %}
Story of the season
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Story of the season</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, modi. Quaerat obcaecati facilis alias. Expedita aliquam ducimus placeat cum soluta incidunt nesciunt aperiam similique, ipsum, nobis tempore, consectetur officiis quae.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde magnam error est? Nemo, temporibus labore! Facere quas voluptatibus aperiam commodi corrupti tempora vero rem! Velit illo officia aspernatur impedit aperiam.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
{% endblock %}