{% extends 'base.html.twig' %}
{% block title %}
Story of the season
{% endblock %}
{% block styles %}
    {{ parent() }}
    body {
        background: url(images/bg.jpeg) no-repeat center center fixed;
        background-size: cover;
    }
{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
    <h1 class="text-center text-uppercase font-weight-bolder" style="font-size: 5rem">Story of the Season</h1>
    <h3 class="text-center"><b>Story of the Season</b> is how sports teams <b>tell their story</b> and <b>engage their fans</b></h3>
    <div class="jumbotron mx-auto" style="max-width: 40vw">
        <img src="images/nkbhg.png" alt="" class="img-fluid mx-auto d-block">
    </div>
</div>
{% endblock %}