{% extends 'base.html.twig' %}
{% block title %}
Story of the season
{% endblock %}
{% block styles %}
{{ parent() }}
.navbar {
margin-bottom: 0px !important;
}
#hero {
background: url(images/bg_blur.jpg) no-repeat center center fixed;
background-size: cover;
}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
{% endblock %}
{% block body %}
{% include 'navbar.html.twig' %}
<div class="mb-4" id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-uppercase font-weight-bolder text-white mt-4" style="font-size: 6.2vw;text-shadow: 
                    0.4vw 0.4vw 0px #d5d5d5, 
                    0.7vw 0.7vw 0px rgba(0, 0, 0, 0.2);">
                    Story of the Season
                </h1>
                <h3 class="text-center mt-3 mb-3 text-white" style="font-size:3vw;text-shadow: 
                    0.1vw 0.1vw 0px #d5d5d5, 
                    0.2vw 0.2vw 0px rgba(0, 0, 0, 0.2);">
                    <b>Story of the Season</b> is how sports teams <b>tell their story</b>
                    and
                    <b>engage their fans</b></h3>
                <iframe src="//fast.wistia.net/embed/iframe/f768nvo7z0?videoFoam=true" allowtransparency="true"
                    frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen
                    mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-uppercase text-center">Coaches, build your program</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex mb-4">
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-header">
                    Weekly newsletter
                </div>
                <div class="card-body flex-fill">
                    <h5 class="card-title">Let fans follow your team from anywhere</h5>
                    <p class="card-text">Each week of the season, we aggregate all video highlights, pictures,
                        interviews, articles, behind-the-scenes content and more and publish a comprehensive game recap
                        newsletter that brings the game to life! Weekly recaps are sent to all subscribing parents,
                        alumni and fans</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex mb-4">
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-header">
                    Digital yearbook
                </div>
                <div class="card-body flex-fill">
                    <h5 class="card-title">All your team&apos;s memories in one place</h5>
                    <p class="card-text">At the end of the Season, we publish each a full, digital yearbook so your team
                        and fans can remember every moment of the season and share it on any device!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex mb-4">
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-header">
                    Recruiting tool
                </div>
                <div class="card-body flex-fill">
                    <h5 class="card-title">Engage recruits and share your story</h5>
                    <p class="card-text">Each week our newsletters go straight to your recruits - giving them a unique
                        look into your program and a helping you stand out</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex mb-4">
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-header">
                    Fundraiser
                </div>
                <div class="card-body flex-fill">
                    <h5 class="card-title">Raise money for your program</h5>
                    <p class="card-text">Financially support your program by giving your fans and supporters a way to be
                        closer to your program! We work with your program to sell subscriptions and raise money - all
                        while bringing your biggest fans to your program.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h2 class="text-uppercase text-center">Fans, follow your team and become part of the story</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="media">
                <img src="/images/nkbhg.png" class="mr-3 img-fluid" style="width: 30%;min-width: 100px;">
                <div class="media-body">
                    <h4 class="mt-0 text-warning" style="text-decoration: underline">Follow your team</h4>
                    <h6 class="mt-0">Recap all the action from anywhere</h6>
                    <p class="text-secondary">Story of the Season is the best way to follow your team or player week to
                        week. With interactive game recap newsletters published after every game every moment and memory
                        worth sharing is at your fingertips from preseason to postseason</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="media">
                <div class="media-body">
                    <h4 class="mt-0 text-warning" style="text-decoration: underline">Share content</h4>
                    <h6 class="mt-0">Tell you side of the Story</h6>
                    <p class="text-secondary">Story of the Season is more than just game highlights, photos and
                        articles. We give fans a way to tell their story point by uploading everything from tailgate
                        photos, to videos from the stands, to intimate interviews with players after the game. We then
                        published them in the newsletter!</p>
                </div>
                <img src="/images/uploadcontent.png" class="mr-3 img-fluid" style="width: 30%;min-width: 100px;">
            </div>
        </div>
    </div>
</div>
<div class="jumbotron mb-0">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <img src="/images/logos/oc.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/forestersLFbw.gif" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/chi.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/images.png" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/iwu.png" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/kzoo.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/MeritBadges-Athletics.png" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/milton.png" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/Rhodes.png" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/tuftsjumbos.gif" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/images/logos/washu.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}